html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  color:#000;
}

.App {
  text-align: center;
}

.App-header {
  background: #FFFFFF;
  height: 40px;
  padding: 10px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

.wrapper {
  margin: 2em auto;
  max-width: 970px;
}

.App-gallery {
  margin-left: -10px;
  display: flex;
  flex-flow: row wrap;
}

.App-photo {
  overflow: hidden;
  border-radius: 5px;
  margin: 0 0 10px 10px;
  background-color: #FFF;
  color: white;
  position: relative;
  height: 250px;
  min-width: 150px;
  flex: auto;
  cursor:pointer;
}

.App-photo:nth-child(4n+1){
  width: 250px;
}
.App-photo:nth-child(4n+2){
  width: 325px;
}
.App-photo:nth-child(4n+3){
  width: 180px;
}
.App-photo:nth-child(4n+4){
  width: 380px;
}

.App-photo-description {
  position: absolute;
  top:20px;
  left: 20px;
  bottom: 20px;
  right: 20px;	
  background: rgba(255,255,255,0.6);
  opacity: 0;
  color:#000000;
  padding: 10px;
  transition: opacity 1s ease;
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-flow: row wrap;
  align-content:center;
}

.App-photo:hover .App-photo-description {
  opacity: 1;	
}

.App-photo-username,.App-photo-caption {
  width: 100%;
  margin:0;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-overflow: ellipsis;
  word-wrap: break-word;
    
}

.App-photo-username {
  color:#444;
  font-size: 14px;
}

.App-photo-caption {
  color:#000;
  font-size: 16px;	
   text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
width:100%; 	
}


@media only screen and (max-width: 991px) {
.App-gallery{
	padding: 20px;
}
}

@media only screen and (min-width: 992px) {

}
