html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-header {
  background: #FFFFFF;
  height: 40px;
  padding: 10px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  
}

.App-galery {
	
}
