.Modal-overlay {
	position: fixed;
	width: 100%;
	top:0;
	height: 100%;
	z-index: 2;
	background: #000;
	-webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
   
    cursor: pointer;
  opacity: 0;
}


.Modal-overlay.Modal-overlay--in {
	opacity: 1;
	transition: opacity 0.5s ease;

	
}